__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log
.ipynb_checkpoints
.env
.venv/
env/
venv/
*.env
.streamlit/config.toml
.streamlit/secrets.toml
.DS_Store
Thumbs.db
.vscode/
*.pkl
predictions.csv
